* {
  box-sizing: border-box
}

body {
  height: 100vh;
  display: grid;
  place-items: center center;
  font-family: 'Niramit', sans-serif;
  margin: 0;
  background-image: linear-gradient(135deg, #9890e3, #b1f4cf);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
  width: 8px;  /* cause of unknown spacing on of-y: scroll on el*/
}

#main {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3)
}

#main::after {
  content: '';
  display: table;
  clear: both;
}

#panel, #messaging {
  float: left
}

#panel {
  width: 300px
}

#panel > p {
  font-weight: bold;
  background-color: #7486e9;
  color: #f5f5f5;
  padding: 10px;
}

#menu::after {
  content: '';
  display: table;
  clear: both;
}

#menu .button {
  position: relative;
  float: left;
  text-align: center;
  width: 50%;
  font-size: 24px;
  background-color: #7486e9;
  color: #f5f5f5;
  padding: 7px 5px 9px 5px;
  height: 50px;
  cursor: pointer;
}

#menu .button::after {
  content: '';
  position: absolute;
  display: none;
  width: 95%;
  height: 85%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}

#menu .button:hover::after,
#menu .button.active::after {
  display: block;
}

i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#frame {
  position: relative;
  width: 300px;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ededee;
  border-right: 1px solid #c3c3c3;
}

#listings {
  white-space: nowrap;
  width: 897px;
  transition: transform .25s ease-in-out;
}

#listings ul {
  float: left;
  /* width: 300px; */
  width: 299px;
  overflow-y: auto;
  padding-bottom: 10px; /* so it doesn't block shadow */
}

#listings ul li:not(:first-child) {
  border-top: 1px solid rgba(195, 195, 195, .4);
}

#listings ul li:last-of-type {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
}

#listings::after {
  content: '';
  display: table;
  clear: both;
}

#listings.users {
  transform: translateX(0);
  transition: transform .25s ease-in-out;
}

#listings.chats {
  transform: translateX(-33.333%);
  transition: transform .25s ease-in-out;
}

#users {
  padding: 0;
  margin: 0;
  /* overflow-y: auto; /* scroll will force the scrollbar to be visible */
}

#users .online-user {
  padding: 10px;
  background-color: #e9ffea;
  transition: background-color .1s
}

#users .online-user:hover {
  background-color: #deffe0;
  cursor: pointer;
  transition: background-color .1s
}

#chats .chat {
  background-color: #e2f2ff;
  transition: background-color .1s;
  cursor: pointer;
}

#chats .chat:hover {
  background-color: #d0e9ff;
  transition: background-color .1s
}

#chats .chat.current {
  background-color: #d0e9ff;
}

#chats .chat p.roomname {
  padding: 10px 20px;
}

#messaging #chat-title {
  text-align: center;
  padding: 10px;
  background-color: #3757ab;
  height: 50px;
  color: #f5f5f5;
  /* box-shadow: 0 5px 4px black; */
}

#messaging #chat-title h2 {
  margin: 0;
  font-weight: normal;
}

#messaging ul {
  list-style-type: none;
  height: 500px;
  margin: 0;
  padding: 10px;
  background-color: #eeeeee;
  overflow-y: auto;
}

li.self {
  text-align: right;
}

div.message {
  display: inline-block;
  text-align: left;
  min-width: 200px;
  position: relative;
  padding: 3px 10px 6px 10px;
  margin: 5px 75px 0 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0 #bdbdbd;
  background-color: #ffffff;
  max-width: 380px;
  overflow-wrap: break-word;
}

div.message.self {
  background-color: #b2ebf2;
  margin: 8px 0 0 75px;
}

div.message b {
  font-size: 12px;
  color: #7d7d7d;
}

#user-input {
  width: 500px;
  padding: 5px 10px;
  background-color: #fff59d;
}

#user-input form {
  height: 40px;
}

#user-input form input {
  border: 0;
  width: 75%;
  height: 30px;
  margin-top: 5px;
  font-size: 20px;
  vertical-align: middle;
  background-color: #f7f7f7;
  float: left;
  font-family: 'Niramit', sans-serif;
  padding: 0 10px;
}

#user-input form button {
  width: 24%;
  margin-top: 5px;
  border: 0;
  background-color: #81c784;
  height: 30px;
  border-radius: 3px;
  font-family: 'Niramit', sans-serif;
  font-weight: bold;
  float: right;
}

#overlay {
  /* display: none; */
  position: fixed;
  background-color: #000000;
  opacity: .5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 3px;
}

#overlay div h4 {
  margin: 0
}

#overlay div h4 span.red,
#overlay div p.red {
  color: red
}

#overlay div input {
  display: block;
  margin-top: 20px;
  border: 0;
  border-bottom: 2px solid;
  height: 30px;
  font-size: 20px;
  font-family: inherit;
  padding: 0 5px;
}

#overlay div p {
  display: inline-block;
  margin-left: 10px;
}

#overlay div button {
  display: inline-block;
  border: 0;
  height: 30px;
  width: 80px;
  margin-top: 15px;
  font-weight: bold;
  font-family: inherit;
}
